/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  
  --primary-color: rgb(44, 43, 42); /* Replace with your desired primary color */
  --secondary-color: rgb(185, 132, 63); /* Replace with your desired secondary color */
}

/* base rule  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

img{
  width: 100%;
  display: block;
}

html{
  font-size: 10px;
  scroll-behavior: smooth; /* Enable smooth scrolling */
}


a {
  text-decoration: none;
}

li {
  list-style: none;
}
/*?=====================Top header section====================== */
.top-header{
    background-color: rgb(185, 132, 63, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

 .time-address{
    padding-left:2.5rem ;

 }
 .time-address p{
    padding: 0.5rem ;
    font-size: 1.5rem;
    font-weight: 500;
    word-spacing: 0.2rem;
   color: white;
   font-family: 'Poppins', sans-serif;
 }
.top-header-icons{
   padding: 0 3.5rem 0 0 ;
    position: relative;
    bottom:2rem;
}
 .fa-brands{
    color: white;
    font-size: 1.7rem;
    margin: 0.2rem;
    border: 1px solid white;
    padding: 0.5rem;
    transition:1s  ;
    -webkit-transition:1s  ;
    -moz-transition:1s  ;
    -ms-transition:1s  ;
    -o-transition:1s  ;
}
 .fa-brands:hover{
    color: rgb(58, 53, 53);
 }
/*?===================== End Top header section====================== */

/*?===================== Navbar section Start====================== */


header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;

}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}

.logo img{
    width: 10rem;
    padding: 1rem;
}

.list-of-links{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items: center;
    padding: 0 2rem;
    gap: 3rem;
}
.nav-items{
    font-size: 1.5rem;
    font-weight: 550;
    padding: 3rem 1rem;
    color: var(--primary-color);
}
.nav-items:hover{
    background-color: rgb(185, 132, 63);
}
.list-of-links>a{
    height:5rem
}
.list-of-links i{
  padding-left: 1rem;
}
/* Services */
.our-services{
  position: relative;
}
.hover:hover .services {
  display: block;
  transition: 0.5s;
  z-index: 1000;
}
.services{
  width: 18rem;
  position:absolute;
  top:7.77rem;
  right:36.5rem;
  font-size: 1.7rem;
  color: rgb(41, 37, 37);
  background-color:white;
  padding-top: 1rem;
  text-align: right;
  padding-right: .3rem;
  display: none;
  /* z-index: 1000; */

}
.sublinks{
  color: inherit;
}
.sub-services{
  padding: 1rem 0 1rem 5rem;
  border-bottom:1px solid rgb(41, 37, 37);

}
.sub-services:hover .sublinks{
 transition: 0.5s;
 font-size: 2rem;
 text-transform: uppercase;
}

/*?===================== Navbar section End====================== */

/*?===================== Slider section Start====================== */
.slider-section{
     /* Slideshow container */
     .slideshow-container {
      max-width: 100rem;
      position: relative;
  
    }
    .text h3,h4{
      display: inline-block;
      padding-bottom: 1rem;
    }

    /* Hide the images by default */
    .mySlides {
      display: none;
    }
    img {
      vertical-align: middle;
    }

    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 2.5rem;
      position: absolute;
      bottom: 12rem;
      left: 3rem;
      width: 34rem;
      text-align: left;
    }

    .dot-container {
      display: inline-block;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      position: absolute;
      left: 80rem;
      bottom: 20rem;
    }
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 1.5rem;
      width: 1.5rem;
      margin: 0 .2rem;
      background-color: #bbb;
      border-radius: 50%;
      transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
      background-color: white;
    }
    .discover-container{
      display: inline-block;
      padding: .5rem;
      background-color: var(--secondary-color);
    }
    .d-btn{
      border: 1px solid white;
      display: inline-block;
      padding: 1rem;
      background-color: var(--secondary-color);
    }
    .d-btn a{
      color: white;
    }
}
@keyframes drop {
  from {
    transform: translateY(-20rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rise {
  from {
    transform: translateY(20rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes r-vibrate-vertical {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-1rem); -webkit-transform: translateY(-1rem); -moz-transform: translateY(-1rem); -ms-transform: translateY(-1rem); -o-transform: translateY(-1rem); }
}



.text h3 {
  animation: drop 1s ease-out forwards, r-vibrate-vertical .6s ease-out 2s forwards;
  -webkit-animation: drop 1s ease-out forwards, r-vibrate-vertical .6s ease-out 2s forwards;
}

.text h4 {
  animation: rise 1s ease-out forwards , r-vibrate-vertical .6s ease-out 2s forwards;
  /*ForSafariandolderChromebrowsers,ensuretoaddthe-webkitprefixifneeded*/-webkit-animation: rise 1s ease-out forwards , r-vibrate-vertical .5s ease-out 2s forwards;
  -webkit-animation: rise 1s ease-out forwards , r-vibrate-vertical .6s ease-out 2s forwards;
}


   
      /*?=================Slider Section End========================= */

/*?===================== Our Services section Start====================== */
/* .container2{
  height: 100vh;
} */
.container2 .child1{
  font-size: 3.5rem;
  font-family:"Poppins", sans-serif;
  font-weight: bolder;
  text-align: center;
  margin-top: 5rem;
  color: rgb(185, 132, 63);

}
.container2 .child2{
  font-size: 3rem;
  font-weight: 600;
  color: rgb(44, 43, 42);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:2rem;
}
.container2 .grandchild{
  padding-right: 2rem;

}
.hovered{
  display: inline-block;
  border: 1px solid;
  color: rgb(44, 43, 42);
  font-size: 1.9rem;
  font-weight: lighter;
  padding: 1.3rem;
  margin: 1rem 3rem 3rem 0;
  
}
.hovered:hover {
  border-color: red;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.container2 img{
  height: 19rem;
  width: 27rem;
  opacity: 0.7;
  
}
.container2 img:hover {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.container2 p{
  font-size: 1.5rem;
  line-height:2rem ;
  font-weight: lighter;
}
.container2 .underline{
  display: inline-block;
  position: relative;
  left: 22rem;
  bottom: 1rem;
  font-size: 1.5rem;
  color: rgb(80, 80, 80);
  padding: 0 12rem;
  text-align: center;
}
.fa-circle{
  padding: 0 0.1rem;
}

/*?===================== Our Services section End====================== */
/* ? =====================our Menu Section============================ */
.menu{
  
  background-image: url("images/front.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  /* height: 165vh; */
  
}
.overlay{
  padding-bottom: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);


}
.menu img{
  height: 15rem;
  width: 23rem;
  display: inline;
  margin-right: 1rem;
 
}
.menu img:hover{
  opacity: 0.6;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.our-menus {
  font-size:  1.6rem;
}
.menu a{
  color:white;
}
.our-menus{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5rem;
}
#menus{
  font-size: 3.5rem;
  font-weight:bolder;
  text-align: center;
  padding: 5rem 0 0;
  color: white;
  font-family:"Poppins", sans-serif;
}
.menu .underline{
  display: inline-block;
  position: relative;
  left: 25rem;
  bottom: 1rem;
  font-size: 1.5rem;
  color: white;
  padding: 0 12rem;
  text-align: center;
}
.fa-circle{
  padding: 0 0.1rem;
}
.article{
  display: inline-block;
  color: white;
}
.article p{
  line-height: 1.4;
}
.a-items:hover {
  color:var(--primary-color);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.a-items{
  /* font: 2rem; */
  font-weight: bold;
  display: inline-block;
  margin-bottom: 1rem;
}
.menu-items{
  display: flex;
  border-bottom: 1px dashed rgb(106, 106, 72);
  padding: 2rem;
  height:fit-content;
}
.menu-items figcaption{
  color:orange;
  margin-top: 1rem;
  
}
.reserve{
  text-align: center;
  background-color:  rgb(176, 153, 120);
  border: solid white 1.5px;
  padding: 1rem;
}
.btn{
  margin:1rem auto;
  background-color:  rgb(176, 153, 120);
  padding:1rem;
  display: inline-block;
  position: reletive;
  right: 5rem;

}
.button{
  display: flex;
  align-items: center;
  margin: 4rem 0 5rem;
}
/* ? =====================End Our Menu Section============================ */
/* ?++++++++++++++++++++Starting of our special section +++++++++++++++++++++++++++*/
.special-section{
  padding: 3rem 0;
  margin: 3rem 0;
}
.our-special {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

.special-items>a>img {
  height: 18rem;
  width: 29rem;
  opacity: 0.2;
}
.special{
  font-family:"Poppins", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  font-size: 4rem;
  color: rgb(185, 132, 63);
}
.special-section .underline{
  display: inline-block;
  position: relative;
  left: 25rem;
  bottom: .7rem;
  font-size: 1.5rem;
  color: rgb(80, 80, 80);
  padding: 0 12rem;
  text-align: center;
}
.fa-circle{
  padding: 0 0.1rem;
}
.special-items>a>img:hover {
  opacity: 1;
  transition: 1s;
}
.special-items{
  width:30rem;
}
.special-items>div {
  font-size: 3rem;
  font-weight:600;
  line-height: 3.6rem;
  color: var(--primary-color);
  letter-spacing: 0.1rem;
  text-align: center;
  margin-top: 1rem;
  
}




/* ?++++++++++++++++++++Our special section ended +++++++++++++++++++++++++++*/

/* ? ======================Testimonials section====================== */
.testimonials{
  background-image: url("Images/pizza.jpg");
  background-attachment: fixed;
  background-size: cover;
  .overlay{
    height:45rem;
    background-color: rgba(0, 0, 0, 0.5);
  
  }
  .underline{
    display: inline-block;
    position: relative;
    left: 22rem;
    bottom: 1rem;
    font-size: 1.5rem;
    color: white;
    padding: 0 12rem;
    text-align: center;
  }
}

.testimonials-1{
  font-family:"Poppins", sans-serif;
  padding-top: 5rem;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color:var(--secondary-color);

}
     /* Slideshow container */
     .TslideshowContainer {
      padding: 5rem 0 0 0;
      max-width: 80rem;
      position: relative;
      margin: auto;
    }

    /* Hide the images by default */
    .TmySlides {
      padding: 3rem 0 0 0;
      display: none;
      position: relative;
      top: 50%;
      background-color: rgba(0, 0, 0, 0.55);
    }

    /* Next & previous buttons */
    .Tprev,
    .Tnext {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 3rem;
      transition: 0.6s linear ease ;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-transition: 0.6s linear ease ;
      -moz-transition: 0.6s linear ease ;
      -ms-transition: 0.6s linear ease ;
      -o-transition: 0.6s linear ease ;
}

    /* Position the "next button" to the right */
    .Tnext {
      padding: 2rem 0 2rem 9rem;
      right:7rem;
      border-radius: .3rem 0 0 .3rem;
      -webkit-border-radius: .3rem 0 0 .3rem;
      -moz-border-radius: .3rem 0 0 .3rem;
      -ms-border-radius: .3rem 0 0 .3rem;
      -o-border-radius: .3rem 0 0 .3rem;
}
.Tprev{
  padding: 2rem 5rem 2rem 3rem;
}
    /* Caption text */
    .Ttext {
      color:white;
      font-size: 2rem;
      max-width: 60rem;
      text-align: center;
      position: relative;
      left: 10rem;
      animation:  slideInFromRight 1s ease-in-out ;
      animation-delay: 5s;
      -webkit-animation:  slideInFromRight 1s ease-in-out ;
}

    @keyframes slideInFromRight {
      from {
        transform: translateX(20%);
        -webkit-transform: translateX(20%);
        -moz-transform: translateX(20%);
        -ms-transform: translateX(20%);
        -o-transform: translateX(20%);
}
      to {
        transform: translateX(0);
      }
    }
    

    .TdotContainer {
      width: fit-content;
      display: inline-block;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: absolute;
      left:70rem;
      bottom: 12rem;
    }

    /* The dots/bullets/indicators */
    .Tdot {
      cursor: pointer;
      height: 1.2rem;
      width: 1.2rem;
      border: .1rem solid white;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s;
      -webkit-transition: background-color 0.6s;
      -moz-transition: background-color 0.6s;
      -ms-transition: background-color 0.6s;
      -o-transition: background-color 0.6s;
}

    .Tactive,
    .Tdot:hover {
      background-color: white;
    }
/* ? ======================End Testimonials section====================== */

/* ?+++++++++++++++fresh-from-garden section starts here ++++++++++++++++++++*/
.fresh-from-garden-section{
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 0 0;
}

.fresh-garden  .underline{
  display: inline-block;
  position: relative;
  left: 33rem;
  bottom: .5rem;
  font-size: 1.5rem;
  color: var(--primary-color);
  text-align: center;
}
.paragraph-read{
  width: 45vw;
  padding: 0 0 0 5rem;
  font-size: 1.5rem;
  color: var(--primary-color);
  line-height: 1.4;
}
.fresh-garden{
  margin-top: 3rem;
  padding: 2rem 0 0 0;
  font-size: 1.8rem;
}
.fresh-top{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color:  var(--secondary-color);
}

.fresh-btn{
  text-align: center;
  background-color:  var(--secondary-color);
  border: solid white 1.5px;
  padding: .6rem;
}
.fresh-btn a{
  color: white;
}
.garden-btn{
  margin:2rem auto;
  background-color:  var(--secondary-color);
  padding:.8rem;
  display: inline-block;
  position: reletive;
  right: rem;
  box-shadow: .3rem .3rem .7rem rgb(133, 141, 148);

}
.fresh-from-garden-section img{
  width: 90%;
  height: 100%;
  position: relative;
  left: 1.5rem;
  bottom: 1rem;

}
.fresh-image-container{
  padding-bottom: 5rem;
  margin-left: 5rem;

}
/*? ===============fresh-from-garden-section Ended================================ */



/* ?==================Begining of  Footer section============================= */
footer{
  background-image: url("images/table-by-balcony.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}
.footer-container{
  background-color: rgba(0, 0, 0, 0.7);
  padding:3rem;
  gap: 3rem;
  display: flex;
  justify-content: space-around;
}
.items-f {
  font-size:2rem !important;
  font-weight: 600;
  margin:2rem 0;
  color: white;
  letter-spacing:0.15rem;
}
.footer-items{
  width:50rem;
  color: white;

}
.footer-items>div>ul>li>a,.footer-items>p,.footer-items>div{
  color: white;
  font-size: 1.5rem;
}
.footer-items>div>ul>li>a:hover{
  color:var(--primary-color)  ;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.time{
  margin: 1rem;
}
.time div{
  padding: 0 !important;
  margin: 0 !important;
}
.pages li{
  padding: 0.5rem;
}
.items-f+div>div {
 padding: 0.7rem 0;
}
.get-in-touch{
  display: flex;
  justify-content: space-around;
  padding-right: 3rem;
  border: none;
}
.get-in-touch>a>i{
  color: white;
  font-size: 1.5rem;
  border: none;
}
.get-in-touch>a>i:hover{
  color: var(--primary-color);
  transition: 0.5s;
}
.fa-tripadvisor{
 position: relative;
 top: .7rem;
 left: .2rem;

}
/* ?==================End of  Footer section============================= */
/* copyright-section */
.copyright{
  background-color: #232428;
  padding: 1.2rem;
  color: white;
  font-size: 1.3rem;
  text-align: center;
}
.copyright span{
  color:  #FEA700;
}
/* media query */

/* Mobile Devices (up to 600px) */
@media screen and (max-width: 600px) {
  /* .top-header {
    flex-direction: column;
    text-align: center;
  } */
  html{
    font-size: 6px;
  }
  .top-header-icons {
    margin-top: 10px;
  }

  .section-navbar .nav-container {
    flex-direction: row;
    align-items: center;
  }
  .our-menus{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 5rem;
  }
  .container2 .child2{
    flex-wrap: wrap;
   padding-left:100px;
  }
  .navbar-links-container {
    display: none; /* Hide the nav links on mobile */
  }

  .navbar-links-container.active {
    display: block; /* Show the nav links when active */
  }

  .slideshow-container img {
    width: 100%;
  }
  .dot{
    display: none;
  }
  .container2 .child2 {
    flex-direction: row;
    
  }

  .menu .our-menus {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .special-section .our-special {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .testimonials .overlay .TslideshowContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fresh-garden .fresh-from-garden-section {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-container{
    flex-direction: column;
    align-items: center;
    
  
  }
 
}

/* Tablets (601px to 1024px) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  html{
    font-size: 10px;

  }
  .top-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .section-navbar .nav-container {
    flex-direction: row;
    justify-content: space-between;
  }

 

  .container2 .child2 {
    flex-direction: row;
    /* flex-wrap: wrap; */
  }

  .menu .our-menus {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .special-section .our-special {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .testimonials .overlay .TslideshowContainer {
    flex-direction: row;
  }

  .fresh-garden .fresh-from-garden-section {
    flex-direction: row;
  }
}

/* Desktops (1025px) */
@media screen and (min-width: 1025px) and(max-width:1200) {
  html{
    font-size: 11px;

  }
  .top-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .section-navbar .nav-container {
    flex-direction: row;
    justify-content: space-between;
  }

  

  .container2 .child2 {
    flex-direction: row;
  }

  .menu .our-menus {
    flex-direction: row;
  }

  .special-section .our-special {
    flex-direction: row;
  }

  .testimonials .overlay .TslideshowContainer {
    flex-direction: row;
  }

  .fresh-garden .fresh-from-garden-section {
    flex-direction: row;
  }
}
@media screen and (min-width: 1201px) {
  html{
    font-size: 15px;

  }
  .top-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .section-navbar .nav-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .mySlides{
    width: 1300px;
  }
  .navbar-links-container {
    display: block; /* Show the nav links on desktops */
  }

  .container2 .child2 {
    flex-direction: row;
  }

  .menu .our-menus {
    flex-direction: row;
  }

  .special-section .our-special {
    flex-direction: row;
  }

  .testimonials .overlay .TslideshowContainer {
    flex-direction: row;
  }

  .fresh-garden .fresh-from-garden-section {
    flex-direction: row;
  }
  
}


